<h1>Who We Are</h1>
<p>
  TucsonRails is a community interested in the <strong>Ruby and the Rails</strong> framework. We welcome all experience levels, and our goal is to promote and share our knowledge of Rails in and around the Tucson area.
</p>
<div class="highlight">
  <% unless @meeting.nil? %>
    <div class="next_meeting">
      <h2>Up &amp; Coming</h2>
      <p>
        <span class="date">
          <%= link_to h("#{@meeting.name} @ 7:00pm"), meeting_path(@meeting) %>
        </span> :
        <span class="location">
          <%= h @meeting.location %>
        </span>
      </p>
    </div>
  <% end %>
  <div class="join">
    <h2>Join the Mailing List</h2>
    <p>
      Start talking about Rails now in the
      <a href="http://groups.google.com/group/tucson-rails">
              tuscon-rails
      </a>
      Google Group.
    </p>
  </div>
</div>
<h3>Speakers Wanted</h3>
<p>
  <%= mail_to "vohoanglong07@gmail.com", "Contact us" %> if you are
  interested in speaking at a future meeting.
</p>